body {
  color: #f2f2f2;
  background-color: #0d1117;
}

#output-container {
  position: relative;
}
#output-container > .splitter {
  width: 5px;
  height: 100%;
  padding: 0;
  margin: 0;
  float: left;
  cursor: col-resize;
}

.output-container {
  padding: 10px;
  color: #fff;
  font-size: 1.5rem;
  background-color: #212121;
  overflow-y: auto;
  height: 100%;
  width: calc(100% - 5px);
  display: inline-block;
}

#resizable-columns {
  height: 100%;
}

.CodeMirror {
  height: 100%;
}
.CodeMirror-selected {
  background-color: #4e4e4e !important;
}
.CodeMirror-scroll {
  overflow-y: auto !important;
  width: 100%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000003C;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
.loading.visible {
  display: flex;
}
